---
layout: default
---
<a id="home-nav"></a>
<div class="navi" data-magellan-expedition>
    <ul >
        <li data-magellan-arrival='home' class="hasatip" data-width="210" title="Home"><a href="/#home-nav"><i class="icon-home"></i></a></li>
        <li data-magellan-arrival='blog' class="hasatip" data-width="210" title="Blog"><a href="/#blog-nav"><i class="icon-comment"></i></a></li>
        <li data-magellan-arrival='profile' class="hasatip" data-width="210" title="Profile"><a href="/#profile-nav"><i class="icon-user"></i></a></li>
        <li data-magellan-arrival='resume' class="hasatip" data-width="210" title="Resume"><a href="/#resume-nav"><i class="icon-reorder"></i></a></li>
        <li data-magellan-arrival='projects' class="hasatip" data-width="210" title="Projects"><a href="/#projects-nav"><i class="icon-eye-open" ></i></a></li>
        <li data-magellan-arrival='contact' class="hasatip" data-width="210" title="Contact"><a href="/#contact-nav"><i class="icon-envelope"></i></a></li>
    </ul>
</div>
<div class="blogpost">

    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date_to_string }}</p>

    <div class="post">
        {{ content }}
    </div>
</div>